.header-site {
    background-image: url(../assents/slider/slide-01.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site {
    padding-top: 200px;
    padding-bottom: 200px;
}

.img-site {
    background-image: url(../assents/slider/slide-02.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding-top: 200px;
    padding-bottom: 200px;
}

.footer-site {
    background-color: #333333;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}